.gallery {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 1250px) {
  .gallery {
    gap: 14px;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 777px) {
  .gallery {
    gap: 16px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 777px) {
  .gallery {
    gap: 16px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 650px) {
  .gallery {
    gap: 12px;
    grid-template-columns: 1fr;
  }
}
