.go-to-baikal {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1184px;
  width: 100%;
  height: 740px;
  background-image: url(../../images/cover-trains.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

@media screen and (max-width: 1025px) {
  .go-to-baikal {
    height: 640px;
  }
}

@media screen and (max-width: 769px) {
  .go-to-baikal {
    height: 480px;
  }
}

@media screen and (max-width: 450px) {
  .go-to-baikal {
    height: 380px;
  }
}

@media screen and (max-width: 322px) {
  .go-to-baikal {
    height: 200px;
  }
}
