.articles__image {
  max-width: 460px;
}

@media screen and (max-width: 1028px) {
  .articles__image {
    max-width: 440px;
  }
}

@media screen and (max-width: 890px) {
  .articles__image {
    max-width: 340px;
  }
}

@media screen and (max-width: 650px) {
  .articles__image {
    max-width: 100%;
    width: 100vw;
  }
}
