.description__image {
  position: relative;
  max-width: 100%;
  height: auto;
  z-index: 1;
  padding-bottom: 8px;
}

@media screen and (max-width: 1024px) {
  .description__image {
    width: 928px;
  }
}

@media screen and (max-width: 600px) {
  .description__image {
  }
}
