.description__image {
  position: relative;
  height: auto;
  z-index: 1;
  width: 100%;
  padding-bottom: 8px;
}

@media screen and (max-width: 768px) {
  .description__image {
   max-width: 100%;
  }
}
