.description__image {
  position: relative;
  max-width: 984px;
  width: 100%;
  height: auto;
  z-index: 1;
  padding-bottom: 8px;
}

@media screen and (max-width: 1024px) {
  .description__image {
    max-width: 928px;
  }
}
