.page__container_size_small {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: calc(985px + 30px);
  padding: 0 15px;
}

@media screen and (max-width: 1250px) {
  .page__container_size_small {
    max-width: calc(982px + 96px);
    margin: 0 auto;
    padding: 0 48px;
  }
}

@media screen and (max-width: 777px) {
  .page__container_size_small {
    max-width: calc(720px + 50px);
    padding: 0 25px;
  }
}

@media screen and (max-width: 500px) {
  .page__container_size_small {
    max-width: calc(720px + 32px);
    padding: 0 16px;
  }
}
