.page__container_position_footer {
  display: flex;
  justify-content: space-between;
  margin-top: 92px;
  margin-bottom: 24px;
  align-items: center;
}

@media screen and (max-width: 670px) {
  .page__container_position_footer {
    display: block;
  }
}

@media screen and (max-width: 322px) {
  .page__container_position_footer {
    margin-top: 64px;
  }
}
