.header__body {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 28px;
}


@media screen and (max-width: 500px) {
  .header__body {
    margin-top: 16px;
  }
}
