.go-to-baikal__link {
  position: absolute;
  display: 0;
  content: url("https://stampsy.com/na-elektrichkakh-do-baikala");
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #2a2c2f;
  opacity: 0;
  transition: opacity 0.5s linear;
}

.go-to-baikal:hover .go-to-baikal__link {
  opacity: 0.8;
  cursor: pointer;
}
